@import "../../assets/styles/colors";
@import "../../assets//styles/fontSizes";
.p {
    font-weight: 700;
    font-size: $xs;
    &.hasColor {
        &-blue {
            color: $blueText;
        }
    }
    &.footer {
        &-footer {
            line-height: 50px;
        }
    }
    &.bigger {
        &-true {
            font-size: $s;
        }
    }
}
