@import "../../assets/styles/mixins/index.scss";
@import "../../assets/styles/colors";
.fastLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}
