@import "../../assets/styles/colors";
@import "../../assets//styles/fontSizes";
.p {
    font-weight: 700;
    font-size: $xl;
    &.hasColor {
        &-blue {
            color: $blueText;
        }
    }
}
