$textBlack: #212121;
$blueText: #0f77c4;

$customWhite: #ffffff;
$customLightGrey: #f5f5f5;
$customDarkGrey: #dedede;
$customBlack: #3c3c3c;

$backgroundWhite: #ffffff;
$backgroundBlue: #f4f9ff;
$otherYellow: #f3ce3f;
$otherGreen: #019273;
$otherRed: #db5b38;

:export {
    $textBlack: textBlack;
    $blueText: blueText;
    $white: customWhite;
    $lightGrey: customLightGrey;
    $darkGrey: customDarkGrey;
    $black: customBlack;
    $backgroundWhite: backgroundWhite;
    $backgroundBlue: backgroundBlue;
    $yellow: otherYellow;
    $green: otherGreen;
    $red: otherRed;
}
